
/* ====== Generel Styles ====== */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 600;
  color: rgba(3, 10, 105, 0.98);
}
a:-webkit-any-link {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  
}
a:hover {

  text-decoration: underline;
}

button {
  margin: 1em;
  background-color: rgb(240, 240, 240);
  border-radius: 8px;
  border: 1px solid rgba(3, 10, 105, 0.98);
  height: 1.8em;
  padding: 0.3em;
}
button:hover {
  background-color: rgb(190, 185, 185);
  border-radius: 8px;
}
button:active {
  position: relative;
  top: 0.2em;
}
input, select {
  background-color: rgb(240, 240, 240);
  border-radius: 8px;
  padding: 0.2em 0.2em 0.2em 0.7em;
  border: 2px solid rgba(3, 10, 105, 0.98);
  color: rgba(3, 10, 105, 0.98);
}
.App {
  text-align: center;
}
/* ==================== */
/* ====== Header ====== */
/* ==================== */
.Header {
  height: 55vh;
  width: 100%;
}
.headerImg {
  display: flex;
  justify-content: center;
  align-content: center;
  background-image: url('./resources/images/handling-your-guest-from-ship-to-shore-and-beyong.jpg');
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
/* .headerImg:before { 
content: '';
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-image: linear-gradient(to bottom right,rgba(128, 128, 128, 0.3),rgba(128, 128, 128, 0.3));
} */

.headerImg img {
  max-height: 10%;
  align-self: center;
}

/* ====== Generel Navbar ====== */
.NavigationBar {
  height: 4rem;
  grid-column-end: span 6;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: rgb(41, 52, 214);
  color: white;
}
.NavigationBar a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}




/* ========================= */
/* ====== MainSection ====== */
/* ========================= */

/* ========================= */
/* ====== HomeSection ====== */
/* ========================= */


.homeSections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 60vh;
  margin: 10vh auto;
}
.img-to-the-right div{
  text-align: right;
padding-left: 2em;
padding-right: 2em;
}
.img-to-the-left div{
padding-left: 2em;
padding-right: 2em;
}
.homeImg {

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  max-height: 100%;

}
.homeSection1 {
  background-image: url('./resources/images/never-a-dull-moment-in-denmark.jpg');
}
.homeSection2 {
  background-image: url('./resources/images/serving-you-the-best-of-nordic-cusine.jpg');
}
.homeSection3 {
  background-image: url('./resources/images/staging-events.jpg');
}
.homeSection4 {
  background-image: url('./resources/images/welcoming-you-with-pomp-and-circumstance.jpg');
}
.homeSection5 {
  background-image: url('./resources/images/flying-the-flag.jpg');
}
.homeSection6 {
  background-image: url('./resources/images/handling-your-guest-from-ship-to-shore-and-beyong.jpg');
}

.homeSections img{
 max-width: 100%;
}


.clientPages {
  background-color: rgb(240, 240, 240);
  min-height: 85vh;
  padding: 2em;

}
.clientPages h3 {
  margin-bottom: 2em;
  
}

/* ========================= */
/* ====== TeamSection ====== */
/* ========================= */
.countryPicker {
  display: inline-flex;
  width: 100%;
  justify-content: space-evenly;
}


/* ========================= */
/* ====== ContactSection ====== */
/* ========================= */

.contact input {
  font-size: 0.8em;
}
.messageFromContactform {
  height: 6em;
}

/* ============================= */
/* ====== Log-in Section  ====== */
/* ============================= */


.employeeloginSection {
  height: 60vh;
  width: 100%;
  background-color: #c51f1f;
  /* display: flex;
  justify-content: space-evenly; */
}

.LoginForms {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.loginForm {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}
.loginForm form {
  display: flex;
  flex-direction: column;

  justify-items: center;
  padding: 0.5em;
}

.loginForm form input, .loginForm button, .loginForm select {
  width: 20rem;
  padding: 0;
  margin: 0.5em 0;
}



/* ============================ */
/* ====== Administration ====== */
/* ============================ */


.AdministrationSection {
  height: 150vh;
  background-color: rgb(77, 88, 252);

}
.dropdownDiv {
  height: 40vh;
  background-color: aqua;
  margin: 20px;
}

.dropdownDiv select {
  width: 100%;
}

/* ====== Employee Navbar ====== */
.EmployeeNavbar {
  height: 4em;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: rgb(41, 52, 214);
  color: white;
}
.adminNav {
  grid-template-columns: repeat(7, 1fr);
}
.freelancerNav {
  grid-template-columns: repeat(3, 1fr);
}
.EmployeeNavbar a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.AdminContent {
  padding: 2em;
}
.AdminList {
  display: flex;
  flex-direction: column;
  color: white;
}
.CRUD-form {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 100%;
  padding: 2em;
}
.CRUD-form input, .CRUD-form select {
  margin-bottom: 0.8em;
}

/* ====== Employee_Site Sections ====== */

.my_profileSection,  .eventSection, .employeeSection, .jobtaskSection, .miscellaneousSection {
  background-color: rgb(240, 240, 240);
  color: rgba(3, 10, 105, 0.98);
  font-weight: 700;
  min-height: 60vh;
  padding: 2em;

}
.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
}

.returnedEvents, .returnedEmployees, .returnedOffices, .returnedjobtasks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  background-color: rgba(3, 10, 105, 0.98);
  margin: 1em;
  padding: 0.5em;
}
.returnedEvents p, .returnedEmployees p {
  padding: 0.2em;
  border-bottom: 1px dotted black;
  margin: 0.1em 0.5em;
}
.resultInLists {
  font-weight: bold;
  color: rgb(240, 240, 240);

  /* color: rgba(3, 10, 105, 0.98); */
}
/* .resultInLists:first-child {
  font-weight: bold;
  color: rgba(3, 10, 105, 0.98);
  color: rgb(240, 240, 240);
  background-color: rgb(240, 240, 240);

} */
.resultInLists:nth-child(1n+3) {
  font-weight: bold;
  color: rgba(3, 10, 105, 0.98);
  /* color: rgb(240, 240, 240); */

}
.list {
  font-weight: bold;
  color: rgb(240, 240, 240);
}
.navlinks {
  display: inline-flex;
  
}


.chosenEmployees::after {
  background-color: salmon;
  color: #c51f1f;
}
.profileImg {
  max-width: 150px;
}

.navlinks div {
  color: rgb(240, 240, 240);
  background-color: rgba(3, 10, 105, 0.98);
  margin: 1.2em 0.5em;
  font-size: 1rem;
  display: flex;
  justify-content: center;
}

.onSubmitForm {
  background-color: rgba(3, 10, 105, 0.98);
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.onSubmitForm select {
  margin: 1em auto;
}

.filter {
  background-color: rgba(3, 10, 105, 0.98);

  height: 2em;
  display: flex;
  align-items: center;
}

.filter div {
  margin-left: 1em;
  color: rgb(240, 240, 240);
}

/* ============================ */
/* ====== Footer  ====== */
/* ============================ */
.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 3em;
  background-color: rgb(41, 52, 214);
}
.footer p {
  margin: auto;
  color: white;
}




/* ============================ */
/* ====== X ====== */
/* ============================ */